<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>XML Transaction Service Demo Client</display-name>

    <description>XML Transaction Service Demo Client</description>

    <servlet>
        <servlet-name>Basic Client Servlet</servlet-name>
        <servlet-class>com.jboss.jbosstm.xts.demo.client.BasicClient</servlet-class>
        <init-param>
            <param-name>restaurantATURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/RestaurantServiceAT</param-value>
        </init-param>
        <init-param>
            <param-name>restaurantBAURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/RestaurantServiceBA</param-value>
        </init-param>
        <init-param>
            <param-name>taxiATURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/TaxiServiceAT</param-value>
        </init-param>
        <init-param>
            <param-name>taxiBAURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/TaxiServiceBA</param-value>
        </init-param>
        <init-param>
            <param-name>theatreATURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/TheatreServiceAT</param-value>
        </init-param>
        <init-param>
            <param-name>theatreBAURL</param-name>
            <param-value>http://localhost:8080/xts-demo-webservices/TheatreServiceBA</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Basic Client Servlet</servlet-name>
        <url-pattern>/basicclient</url-pattern>
    </servlet-mapping>
</web-app>