<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protect all application</web-resource-name>
            <url-pattern>/lra-coordinator/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>participant</web-resource-name>
            <url-pattern>/lra-coordinator/start</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>participant</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BEARER_TOKEN</auth-method>
        <realm-name>jwt-realm</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>participant</role-name>
    </security-role>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet-mapping>
        <servlet-name>jakarta.ws.rs.core.Application</servlet-name>
        <url-pattern>/lra-coordinator/*</url-pattern>
    </servlet-mapping>
</web-app>