.classpath
.settings/
.project
.metadata/

*.iml
.idea

target/
/tools/maven
/tools/maven.zip

.DS_Store
ObjectStore/
PutObjectStoreDirHere/

ArjunaJTS/interop/glassfish/tmp/

instantclient_11_2/
jboss-as
jbossesb-4.9.zip
instantclient-basiclite-win32-11.2.0.1.0.zip
instantclient-sdk-win32-11.2.0.1.0.zip
*~
wildfly-10.x.zip
wildfly-10.*/
wildfly-10.*.jar
apache-tomcat-*
narayana-full-*-bin.zip
jboss1/
jboss2/
bin/
db/
distributedjta-examples/

_nsdb_root
orb.db/
